.navigation {
    display: flex;
}

.link {
    padding: 10px 20px;
    background: #42aed8;
    display: block;
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: cursive;
}

.link:global.active {
    background: #20627b;
}

.link:first-child {
    margin-left: 0;
}
